<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Holy Unblocker</title>
    <meta name="description" content="Holy Unblocker is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box text-center textm">
            <h1 class="bigtitle">Book<wbr>markle<wbr>ts</h1>
            <h2>Simply drag the book<wbr>markl<wbr>ets below to your boo<wbr>kma<wbr>rk bar.</h2>
            <div id="bks-parent">
                <a id="inspectel" class="fancybutton glowbutton">Ins<wbr>pect El<wbr>eme<wbr>nt Cl<wbr>on<wbr>e</a>
                <a id="portasite" class="fancybutton glowbutton">Po<wbr>rta Proxy</a>
            </div>
            <div id="bks-parent">
                <a id="firebug" class="fancybutton glowbutton">Ins<wbr>pect El<wbr>eme<wbr>nt (F<wbr>ireb<wbr>ug)</a>
                <a id="ytnoc" class="fancybutton glowbutton">You<wbr>Tub<wbr>e N<wbr>C</a>
            </div>
            <p>Most of the above made by the quite amazing Yo<wbr>ct! (Y<wbr>OCT<wbr>DÖN<wbr>ALD'S#111<wbr>5)</p>
            <h2>What are boo<wbr>kmarkle<wbr>ts?</h2>
            <p>A book<wbr>mark<wbr>let is a normal bookm<wbr>ark with a piece of Ja<wbr>vaScri<wbr>pt co<wbr>de inste<wbr>ad of a web add<wbr>ress. When you click or ta<wbr>p the b<wbr>ook<wbr>mark<wbr>let, it will execute the J<wbr>ava<wbr>Scr<wbr>ipt code
                on the current page instead of load<wbr>ing a dif<wbr>ferent page<wbr>, as mo<wbr>st bookmarks do.</p>
            <h2>Credit<wbr>s</h2>
            <p>- Yoc<wbr>t</p>
            <p>- T<wbr>he Bre<wbr>ad</p>
            <p>- CV<wbr>FD<wbr></p>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
    <!-- todo: remove links.js -->
    <script src="assets/js/links.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer.js"></script>
    <script defer="defer" src="assets/js/particlesjs/particles.js"></script>
</body>

</html>